ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE EXACT-NUM-SYS-001
REVISION 0

ANCHOR
    END-POINT  0.0 0.0 0.0  8
    ITEM-CODE ANC-1
PIPE
    END-POINT  0.0 0.0 0.0  8
    END-POINT  480.0 0.0 0.0  8  // 40ft header
    ITEM-CODE PIPE-1
TEE
    END-POINT  480.0 0.0 0.0  8
    END-POINT  500.0 0.0 0.0  8
    CENTRE-POINT  490.0 0.0 0.0
    BRANCH1-POINT  490.0 240.0 0.0  8
    ITEM-CODE TEE-1
PIPE
    END-POINT  500.0 0.0 0.0  8
    END-POINT  960.0 0.0 0.0  8  // remaining 40ft header
    ITEM-CODE PIPE-2
ANCHOR
    END-POINT  960.0 0.0 0.0  8
    ITEM-CODE ANC-2
PIPE
    END-POINT  490.0 240.0 0.0  8  // branch drop 20ft Y
    END-POINT  490.0 480.0 0.0  8
    ITEM-CODE PIPE-3
ANCHOR
    END-POINT  490.0 480.0 0.0  8
    ITEM-CODE ANC-3
