ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE EXACT-NUM-SYS-001
REVISION 0

ANCHOR
    END-POINT  0.0 0.0 0.0  8
    ITEM-CODE ANC-1
PIPE
    END-POINT  0.0 0.0 0.0  8
    END-POINT  480.0 0.0 0.0  8  // 40ft run
    ITEM-CODE PIPE-1
ELBOW
    END-POINT  480.0 0.0 0.0  8
    END-POINT  480.0 0.0 180.0  8  // 15ft Up Z
    CENTRE-POINT  480.0 0.0 0.0
    ITEM-CODE ELB-1
PIPE
    END-POINT  480.0 0.0 180.0  8
    END-POINT  720.0 0.0 180.0  8  // 20ft Across X
    ITEM-CODE PIPE-2
ELBOW
    END-POINT  720.0 0.0 180.0  8
    END-POINT  720.0 0.0 0.0  8  // 15ft Down Z
    CENTRE-POINT  720.0 0.0 180.0
    ITEM-CODE ELB-2
PIPE
    END-POINT  720.0 0.0 0.0  8
    END-POINT  1200.0 0.0 0.0  8  // 40ft run
    ITEM-CODE PIPE-3
ANCHOR
    END-POINT  1200.0 0.0 0.0  8
    ITEM-CODE ANC-2
