ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-WEIGHT LBS
PIPELINE-REFERENCE EXACT-NUM-SYS-001
REVISION 0

ANCHOR
    END-POINT  0.0 0.0 0.0  8
    ITEM-CODE ANC-1
PIPE
    END-POINT  0.0 0.0 0.0  8
    END-POINT  360.0 0.0 0.0  8  // 30ft X
    ITEM-CODE PIPE-1
ELBOW
    END-POINT  360.0 0.0 0.0  8
    END-POINT  360.0 240.0 0.0  8  // 20ft Y
    CENTRE-POINT  360.0 0.0 0.0
    ITEM-CODE ELB-1
PIPE
    END-POINT  360.0 240.0 0.0  8
    END-POINT  360.0 240.0 -120.0  8  // 10ft Z
    ITEM-CODE PIPE-2
ANCHOR
    END-POINT  360.0 240.0 -120.0  8
    ITEM-CODE ANC-2
