ISOGEN-FILES ISOGEN.FLS
UNITS-BORE MM
UNITS-CO-ORDS MM
UNITS-WEIGHT KGS
PIPELINE-REFERENCE CALC-SYS-001
REVISION 0

ANCHOR
    END-POINT  0.0 0.0 0.0  300
    ITEM-CODE ANC-1
PIPE
    END-POINT  0.0 0.0 0.0  300
    END-POINT  1500.0 0.0 0.0  300
    ITEM-CODE PIPE-1
ELBOW
    END-POINT  1500.0 0.0 0.0  300
    END-POINT  1500.0 500.0 0.0  300
    CENTRE-POINT  1500.0 0.0 0.0
    ITEM-CODE ELB-1
PIPE
    END-POINT  1500.0 500.0 0.0  300
    END-POINT  1500.0 1000.0 0.0  300
    ITEM-CODE PIPE-2
FLANGE
    END-POINT  1500.0 1000.0 0.0  300
    END-POINT  1500.0 1050.0 0.0  300
    ITEM-CODE NOZZLE-1
    MESSAGE-SQUARE VESSEL V-101
